/*https://rstudio4edu.github.io/rstudio4edu-book/doc-fancy.html

/*------------- Whole Document---------------- */
body {
text-align: justify!important;
/*font-family: Arial;*/
color: black;
width: 40cm;
}

p.caption {
  font-size: 0.9em;
  font-style: italic;
  color: seagreen;
  margin-right: 10%;
  margin-left: 0%;
  text-align: justify!important;
}

/*----------------ADDING WHITE SPACE-------------*/

.title {
  margin-top: 0em;
  margin-bottom: 0.75em;
}


/* Remove excessive white space at the end of page */
.tocify-extend-page {
  height: 100px!important;
}

/*------------Table of Contents (TOC)----------- */
.tocify {
  font-size: 16px;
}

.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
    line-height: 25px!important;
}

.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
}


